*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 370px;
    height: 270px;
}

div {
    width: 80%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    box-shadow: 2px 2px 5px Gainsboro;
    padding: 20px;
}

#pradzia {
    width: 100%;
    height: 600px;
    background-image: url(foto/dakar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: none;
}

#antraste {
    margin-top: 270px;
    color: white;
    font-family: Tahoma;
    font-size: 50px;
    text-shadow: 2px 2px black;
}
